body{
	background-color:#8C8C7A;
	text-align:center;
}

.ToggleOptions{
	margin: auto;
	margin-top:2em;
	width:15em;
	background-color:#D6D699;
	text-align:center;
	padding: 4pt 4pt 4pt 4pt;
	border-radius: 8pt;

	
}

.ToggleSpace{
	margin-bottom:1em;
	background-color:#EAEACC;
	padding: .167em .167em .167em .167em;
	border-radius: .334em;
	cursor:pointer;
}

.ToggleLineBreak{
	background-color:#EAEACC;
	padding:.167em .167em .167em .167em;
	border-radius: .334em;
	cursor:pointer;
}

.ToggleSpace:hover{
	background-color:#CCCC00;
}

.ToggleLineBreak:hover{
	background-color:#CCCC00;
}

.toggle-active{
	background-color:#CCCC00;
    box-shadow:inset 0em 0em 0em .25em #B7B700;
	cursor:pointer;
}