<!DOCTYPE html>
<html data-ng-app='app' data-ng-csp=''>
<head>
	<title>NoLookPaste</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-csp.css">
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
	<div class="container">
		<div ng-controller="MainController">
			<h1> NoLookCopyPaste </h1>
			<div class="fileContainer">
				<h5 class="directoryName">{{directory}}</h5>
				<button class="btn btn-default" ng-click="chooseEntry()">Select File</button>
			</div>
			<div class="ToggleOptions">
				<div class="ToggleSpace" ng-class="{'toggle-active': space}" ng-click="toggleSpace()">Space between paste</div>
				<div class="ToggleLineBreak" ng-class="{'toggle-active': linebreak}" ng-click="toggleLineBreak()">Line break between paste</div>
		    </div>
		</div>
	</div>
</body>
</html>

<!--scripts-->
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/AngularRoute.js"></script>
<script src="js/vendor/jquery-1.11.3.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>


<!--app-->
<script src="js/app.js"></script>
<script src="js/MainController.js"></script>